.items {
	width: 100%;
	padding: 15px 0px;
}

.list {
	margin-top: 24px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.wrapper {
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.item {
	background-color: var(--dark);
	border-radius: 8px;
	overflow: hidden;
	width: calc(100% / 4.1 - 10px);
	height: 300px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-weight: 600;
	font-size: 20px;
	text-decoration: underline;
	line-height: 18px;
	margin-top: 30px;
}

.flexBlock {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.flexBlock:after {
	content: '';
	display: table;
}

.flexBlock:after,
.browseGameItem {
	width: calc(100% / 2 - 3px);
	height: calc(30% / 3);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-decoration: underline;
	margin-right: 3px;
}

.browseGameItem:hover {
	color: var(--violet);
}
