.games {
	width: 100%;
	padding: 15px 0px;
}

.list {
	margin-top: 24px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.game {
	background: var(--dark);
	border-radius: 8px;
	overflow: hidden;
	width: calc(100% / 4.1 - 10px);
}

.game:nth-child(4.1n) {
	width: calc(100% / 4.1);
}

.image {
	width: 100%;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper {
	padding: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}

.cat {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: var(--grey);
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 28px;
}

.info {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.purchases {
	color: var(--dark-sea);
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
}

.button {
	margin-top: 24px;
	text-align: center;
}

.metascore {
	border: 1px solid;
	border-radius: 5px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 1px 4px;
}

.games-enter {
	opacity: 0;
}
.games-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.games-exit {
	opacity: 1;
}
.games-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}
